*{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;  
}
#nav-bar a:hover{
    color: peru!important;
    
}
html{
    scroll-behavior: smooth;
    
}

/*--------------Navigation-----------*/

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
height: 100px;
padding-left: 100px;
}
.navbar-nav li
{
    padding:0 20px;
}
.navbar-nav  li a
{
    float: right;
    text-align: left;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}
#nav-bar ul li a:hover{
    color: peru!important;
}
.navbar{
    background: #fff;
}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
/*-------About-----*/
#About{
    background-image: url(services.jpg);
    background-size: cover;
    background-position: center;
    color:white!important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
/*-----------Services--------*/
#Services{
    background-image: url(about.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef!important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom : 50px;  
}
#Services h1{
    text-align: center;
    color: #efefef!important;
    padding-bottom: 10px;
}
#Services h1::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.services{
    margin-top: 40px;
}
.icon{
    font-size: 10px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #efefef;
    border-radius: 50%;
}
/*--------Get in Touch-----*/
#Contact Us{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
    
}
.Contact-form{
    padding: 15px;
}
.form-control{
    border-radius: 0!important;
    border: mediumpurple!important;
}
::placeholder{
    color: #999!important;   
}
.follow
{
    background:whitesmoke;
    padding: 40px;
    margin: 15px;
    color: black;
}
.contact info{
    margin: 20px;
    color: #007bff;
    font-weight: bold;
}

